* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Special Gothic", sans-serif;
  overflow-x: hidden ! important;
}
.body {
  position: relative;
}

/* navbar */
.navbar {
    user-select: none;
  position: sticky;
  top: 0px;
  z-index: 100;
  background-image: url(./assets/images/background/navbarBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  border-bottom: 1px solid #555852;
}
.offcanvas-header {
  background-image: url(./assets/images/background/navbarBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #555852;
}
.offcanvas-body {
  background-image: url(./assets/images/background/navbaroffcanvaBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-toggler {
  box-shadow: none !important;
}
.navLinks {
  justify-content: center;
  align-items: center;
}
.navLinks > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navLinks > ul > li {
  margin: 10px 0px 0px 10px;
  font-size: 20px;
  padding: 1px 4px;
  border-radius: 20px;
}
.navLinks > ul > li:hover{
  background-color:#a7b698;
  color: white;
}
.navLinks > ul > li > a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s linear;
}
.navLinks > ul > li > a:hover {
  color: white;
}
.offcanva-link{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

/* services */
.services {
  position: relative;
  z-index: 50;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.servicesList > ul {
  list-style: none;
}
.servicesList-title {
  font-weight: 600;
  font-size: 20px;
  color: #6d7a5f;
}
.servicesList-viewMore {
  text-decoration: none;
  color: #6d7a5f;
  font-weight: 600;
  font-size: 13px;
}
.servicesList-role a {
  color: blue;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}
.servicesList-role a:hover {
  transform: translateX(10px);
  transition: all 0.3s linear;
}
.servicesList-viewMoreTop {
  border-top: 1px dashed #ccc;
  margin-bottom: 10px;
}
.crossIcon {
  position: fixed;
  right: 150px;
  top: 80px;
  padding: 5px 8px;
  border-radius: 50%;
  color: #6d7a5f;
  @media (max-width: 500px) {
    right: 40px;
  }
}
.crossIcon:hover {
  color: black;
  background-color: #b1c0a1;
}

/* Footer */
.footer{
background-color: #a7b698;
}
.footer p{
  font-size: 20px;
  font-weight: bold;
  color: rgb(12, 46, 70);
  margin-left: 25px;
  width: 70%;
}
.footer .bar{
  background-color:white;
  border-radius: 50% 5% 50% 5%;
  width: 25%;
  height: 5px;
  margin: 10px 0px;
}
.footer .links, .footer .contact-us{
  margin-left: 25px;
}
.footer .links h2, .footer .contact-us h2{
  font-size: 22px;  
  font-weight: bold;
  color: black;
}
.footer .links .bar, .footer .contact-us .bar{
  background-color:white;
  border-radius: 50% 5% 50% 5%;
  width: 10%;
  height: 5px;
  margin: 10px 0px;
}
.footer .links .link{
  display: flex;
  flex-direction: column;
}
.footer .links .link a{
  color: rgb(12, 46, 70);
  margin: 4px 0px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}
.footer .links .link a:hover{
  text-decoration: underline ;
}
.footer .contact-us .email, .phone-no{
  font-weight: bold;
  font-size: 18px;
  color: rgb(12, 46, 70);
  margin: 15px 0px;
  user-select: none;
}
.footer .contact-us .email i, .phone-no i{
  color: black;
  margin-right: 5px;
}
.footer .contact-us .crt-blog-btn{
  width:fit-content;
  margin-top: 20px;
  cursor: pointer;
  padding: 5px 10px ;
  background-color:#82946e;
  border: 2px solid var(--secondary-color);
  border-radius: 15px 1px 15px 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(12, 46, 70);
  transition: all .3s linear;
}
.footer .contact-us .crt-blog-btn:hover{
  color: white;
}
.footer .copyright{
  background-color: #51613f;

}
.footer .copyright div{
  padding: 15px;
  font-size: 18px;
  color: white;
  text-align: center;
}
.footer .copyright div a{
  text-decoration: none;
}

/* go to Top */
.goToTOP {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 8px 13px;
  border-radius: 50%;
  color: white;
  background-color: #56614a;
  cursor: pointer;
  font-size: 20px;
}
.goToTOP:hover {
  box-shadow: 0 0 10px #555f4a;
  color: black;
}
